Repository ZaparooProject/go-pn532: changes, and which lefthook commands are due for each by the changed paths.
All: golint, gomod

lefthook.yml:

# Lefthook configuration for go-pn532
# Ensures all lints pass before commits can be made

pre-commit:
  parallel: true
  commands:
    # Format and lint Go code
    golint:
      glob: "*.go"
      run: make lint
      fail_text: "Linting failed. Please fix the issues and try again."
      stage_fixed: true

    # Check go.mod tidiness
    gomod:
      glob: "{go.mod,go.sum}"
      run: go mod tidy && git diff --exit-code go.mod go.sum
      fail_text: "go.mod/go.sum not tidy. Run 'go mod tidy' and commit the changes."

  # Optional: Skip hooks with LEFTHOOK=0 git commit
  skip_output:
    - meta
    - summary

# Optional: Commit message validation
# commit-msg:
#   commands:
#     commitlint:
#       run: echo "{1}" | grep -E "^(feat|fix|docs|style|refactor|test|chore)(\(.+\))?: .{1,50}"
#       fail_text: "Commit message should follow conventional format: type(scope): description"

# Pre-push hook to run tests (optional)
# pre-push:
#   commands:
#     tests:
#       run: make test
#       fail_text: "Tests failed. Please fix and try again."

Fix comprehensive linting issues across codebase
  Makefile
  cmd/reader/main.go
  device_context.go
  device_context_test.go
  polling/session.go
  polling/session_test.go
  transport.go
  transport/i2c/i2c.go
  transport/i2c/i2c_context_test.go
  transport/spi/spi.go
  transport/spi/spi_context_test.go
  transport/uart/uart.go
  transport/uart/uart_context_test.go
  transport_context_test.go
Due: golint

Add context support and connection retry enhancements
  cmd/reader/main.go
  cmd/readtag/main.go
  detection/uart/detector.go
  device.go
  device_test.go
  felica.go
  mifare.go
  mifare_context_test.go
  mifare_robust_context_test.go
  ntag.go
  ntag_context_test.go
  polling/session.go
  polling/session_test.go
  tag.go
Due: golint

ditch old stuff
  .gitignore
  Makefile
  cmd/nfctest/discovery.go
  cmd/nfctest/main.go
  cmd/nfctest/modes.go
  cmd/nfctest/output.go
  cmd/nfctest/session_manager.go
  cmd/nfctest/testing.go
  cmd/nfctest/types.go
  cmd/readtag/main.go
Due: golint

Fix race conditions in MockTransport and enable cross-platform CI
  Makefile
  transport.go
Due: golint

Fix flaky timer test causing CI failures
  polling/session_test.go
Due: golint

Fix CI test timeouts by adding proper timeout and parallelism control
  .github/workflows/ci.yml
Due: none

Remove t.Parallel() from integration tests to fix CI hangs
  integration_test.go
  internal/testing/virtual_tag_test.go
Due: golint

Fix auto-detection test failures with dependency injection
  device.go
  device_test.go
Due: golint

Fix race conditions causing Windows CI failures
  polling/device_actor.go
  polling/state.go
Due: golint

Fix TestDeviceActor_Metrics poll latency assertion for Windows
  polling/device_actor_test.go
Due: golint

Add context-aware operation support and improved session management
  cmd/reader/main.go
  cmd/reader/main_test.go
  polling/session.go
  polling/session_bench_test.go
  polling/session_test.go
Due: golint

Increase timeout durations and improve concurrency handling in tests
  cmd/reader/main_test.go
  polling/session.go
  polling/session_test.go
Due: golint

feat: add mifare extra utils
  mifare_extra.go
Due: golint

feat: add bulk write mode, NTAG read-only support, and I2C transport fixes
  .gitignore
  cmd/reader/bulkwrite.go
  cmd/reader/main.go
  ntag.go
  ntag_test.go
  tagops/tagops_test.go
  tagops/writer.go
  transport/i2c/i2c.go
  transport/i2c/i2c_wire_test.go
Due: golint

fix: resolve lint issues and update I2C mock for two-pass NACK pattern
  detection/i2c/detect_linux.go
  detection/spi/detector.go
  errors.go
  felica.go
  felica_test.go
  internal/testing/responses.go
  internal/testing/simulator_transport.go
  internal/testing/virtual_tag.go
  internal/testing/wire_simulator.go
  internal/testing/wire_simulator_test.go
  mifare.go
  ndef.go
  ndef_extended.go
  ntag.go
  ntag_test.go
  pkg/ndef/ndef.go
  pkg/ndef/text.go
  polling/session_test.go
  retry.go
  retry_helpers_test.go
  robust_test.go
  tagops/reader.go
  transport/i2c/i2c.go
  transport/i2c/i2c_wire_test.go
  transport/spi/spi.go
  transport_context_test.go
Due: golint

fix: remove unused nolint:gosec directives for G118
  polling/session_test.go
  retry.go
  retry_helpers_test.go
  robust_test.go
  transport_context_test.go
Due: golint

chore: upgrade Go to 1.25.8 to fix GO-2026-4602
  go.mod
Due: gomod

test: add I2C coverage for context cancellation, timeouts, and error paths
  transport/i2c/i2c_wire_test.go
Due: golint

test: add I2C error path coverage for protocol validation
  transport/i2c/i2c_wire_test.go
Due: golint

fix: handle composite I2C detection paths in transport
  transport/i2c/i2c.go
Due: golint

fix: use go.mod for Go version in release workflow
  .github/workflows/release.yml
Due: none

chore: add Dependabot config for Go modules and Actions
  .github/dependabot.yml
Due: none

ci: pin GitHub Actions to commit SHAs
  .github/workflows/ci.yml
  .github/workflows/pr-title.yml
  .github/workflows/release.yml
Due: none

ci: add CodeQL code scanning workflow
  .github/workflows/codeql.yml
Due: none

ci: add OpenSSF Scorecard workflow
  .github/workflows/scorecard.yml
Due: none

ci: add contents: read permission for checkout
  .github/workflows/scorecard.yml
Due: none

ci: add dependency review workflow
  .github/workflows/dependency-review.yml
Due: none

ci: add SBOM generation and artifact attestations to releases
  .github/workflows/release.yml
Due: none

ci: add SBOM generation and artifact attestations to releases (#64)
  .github/workflows/release.yml
Due: none

ci: add license deny list to dependency review
  .github/workflows/dependency-review.yml
Due: none

ci: add license deny list to dependency review (#65)
  .github/workflows/dependency-review.yml
Due: none

fix(ndef): stop parsing at ME flag to tolerate trailing data
  ndef_test.go
  ndef_validation.go
  ndef_validation_test.go
Due: golint

fix(polling): harden Start-path against goroutine leaks
  polling/recovery.go
  polling/session.go
  polling/session_test.go
  transport/i2c/i2c.go
  transport/spi/spi.go
  transport/uart/uart.go
Due: golint

fix(ndef): stop parsing at ME flag to tolerate trailing data (#66)
  ndef_test.go
  ndef_validation.go
  ndef_validation_test.go
Due: golint

fix(mifare): continue-on-error format with classified errors
  errors.go
  mifare.go
  mifare_test.go
Due: golint

ci: run pr-title workflow under pull_request to attach check to PR head
  .github/workflows/pr-title.yml
Due: none

ci: run pr-title workflow under pull_request to attach check to PR head (#69)
  .github/workflows/pr-title.yml
Due: none

fix(polling): harden Start-path against goroutine leaks (#67)
  polling/recovery.go
  polling/session.go
  polling/session_test.go
  transport/i2c/i2c.go
  transport/spi/spi.go
  transport/uart/uart.go
Due: golint

refactor(mifare): replace prose classifier with sentinel errors
  errors.go
  mifare.go
  mifare_test.go
Due: golint

fix(mifare): cap clearRemainingBlocks by usableSectors on partial format
  mifare.go
  mifare_test.go
Due: golint
